.featured-works {
    background-color: var(--presentation-bg);

    .container {
        padding: 0 18px 167px 18px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.work__item {
    @include displayFlex(column);
    align-items: flex-start;
    gap: 17px;
    margin-bottom: 18px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--gray-color);
        bottom: -18px;
    }
}

.work__item-image {
    width: 100%;
    border-radius: 6px;
}

.work-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.work-info {
    color: var(--work-info-color);

    &__year {
        font-weight: 900;
        color: var(--white-color);
        background-color: var(--dark-text-color);
        border-radius: 16px;
        padding-left: 12px;
        padding-right: 12px;
        margin-right: 22px;
    }
}


.hidden-on-mobile {
    display: none;
}
