*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  color: var(---dark-text-color);
  letter-spacing: 0.03em;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@mixin displayFlex($flexDirection) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $flexDirection;
}