:root {
    //general colors
    --white-color: #FFFFFF;
    --gray-color: #E0E0E0;

    //text colors
    --dark-text-color: #21243D;
    --work-info-color: #8695A4;

    //bg colors
    --presentation-bg: #E5E5E5;
    --resume-btn-bg: #FF6464;
    --post-section-bg: #EDF7FA;
}